<navbar></navbar>
<div class="wrap-dashboard">
  <div class="container-fluid wrap">
    <div class="row">
      <div class="list-forms text-center">
        <input type="text" class="" placeholder="e.g. Market research" ng-model="form.name">
        <button class="btn btn-primary" ng-click="createForm()">
          Create a form
        </button>
        <div class="col-xs-4" ng-repeat="form in forms track by $index">
          <h2>{{ form.name }}</h2>
        </div>
        <h4 ng-show="noForms">No Forms</h4>
      </div>
    </div>
  </div>
</div>