<navbar></navbar>
<div class="wrap-dashboard">
  <div class="container-fluid wrap">
    <div class="row">
      <div class="dash-message text-center">
        <h3>Welcome to your dashboard</h3>
        <p>Create, edit, delete your forms as you wish and view the submissions.</p> 
      </div>
      <div class="list-forms text-center">
        <button class="btn btn-primary btn-hg" ng-click="open()">
          New Form
        </button>
      </div>
      <h4 ng-show="noForms">No Forms</h4>
      <div class="form-link" ng-repeat="form in forms track by $index" ng-mouseover="showOptions=true" ng-mouseleave="showOptions=false">
        <a href="/#/forms/{{ form.id }}/edit">
          <div class="form-title-box">
            <h4>{{ form.name }}</h4>
          </div>
        </a>
        <div class="form-options">
          <a href="/#/forms/{{ form.id }}/submissions" class="view-submissions">
            <i class="fa fa-list-ul"></i>
          </a>
          <a href="/#/forms/{{ form.id }}/edit" class="edit-form">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a href="" class="delete-form" ng-click="delete(form)">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <h5 class="logo-footer"></h5>
  <h6>A project created by <span><a href="">Carson</a></span>, <span><a href="">Raphael</a></span> and <span><a href="">Yohan</a></span> from General Assembly Hong Kong</h6>
</footer>