<navbar></navbar>
<div class="wrap-dashboard">
  <div class="container-fluid wrap">
    <div class="row">
      <div class="list-forms text-center">
        <input type="text" class="" placeholder="e.g. Market research" ng-model="form.name">
        <button class="btn btn-primary" ng-click="createForm()">
          Create a form
        </button>
      </div>
      <h4 ng-show="noForms">No Forms</h4>
      <div class="form-link" ng-repeat="form in forms track by $index" ng-mouseover="showOptions=true" ng-mouseleave="showOptions=false">
        <a href="" class="delete" ng-click="delete(form)" ng-show="showOptions">X</a>
        <span>{{ form.name }}</span>
        <a href="/#/forms/{{ form.id }}/edit" class="btn btn-primary">Edit Form</a>
      </div>
    </div>
  </div>
</div>