<div class="modal-header">
  <h5 class="modal-title">Preview</h5>
</div>
<div class="modal-body text-center">

  <div class="container-fluid wrap-preview">
    <div class="row">
      <div ng-repeat="content in contents | orderBy: 'index'">
      
        <!-- INPUT TEXTS -->
        <div ng-if="content.category == 'text'">
          <h5>{{ content.label }}</h5>
          <input type="text" class="form-control">
        </div>
        
        <!-- DROPDOWNS -->
        <div ng-if="content.category == 'dropdown'">
          <h5> {{ content.label }} </h5>
          <select class="form-control select select-primary select-block mbl" >
            <option ng-repeat="option in content.options">{{ option.name }}</option>
          </select>
        </div>


        <!-- INPUT TEXTAREAS -->
        <div ng-if="content.category == 'textarea'">
          <h5>{{ content.label }}</h5>
          <textarea type="text" rows="5" class="form-control"></textarea>
        </div>

        <!-- CHECKBOXES -->
        <div ng-if="content.category == 'checkbox'">
          <h5>{{ content.label }}</h5>
          <label ng-repeat="option in content.options">
            <input type="checkbox" checklist-model="option.name" checklist-value="option.name"> {{ option.name }} 
          </label>
        </div>

        <!-- RADIO -->
        <div ng-if="content.category == 'radio'">
          <h5>{{ content.label }}</h5>
          <label ng-repeat="option in content.options">
            <input type="radio" name="option.name" value="option.name" class=""> {{ option.name }} 
          </label>
        </div>

        <!-- DESCRIPTION -->
        <div ng-if="content.category == 'description'">
          <h5>{{ content.label }}</h5>
          <p ng-repeat="option in content.options">
          {{ option.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="exit()">Exit</button>
</div>



