<div class="modal-header">
  <h5 class="modal-title">Preview</h5>
</div>
<div class="modal-body">

  <div class="container-fluid wrap-preview">
    <div class="row">
      <div class="list col-xs-10 col-offset-xs-1">
        <div cass="row">
          <div ng-repeat="content in contents | orderBy: 'index'" class="item">
            <!-- INPUT TEXTS -->
            <label ng-if="content.category == 'text'" class="item">
              <h5>{{ content.label }}</h5>
              <input type="text" class="form-control">
            </label>
            
            <!-- DROPDOWNS -->
            <label ng-if="content.category == 'dropdown'"class="item item-select">
              <h5> {{ content.label }} </h5>
              <select ng-model="submits[content.index]" ng-options="option.name for option in content.options"></select>
            </label>

            <!-- INPUT TEXTAREAS -->
            <label ng-if="content.category == 'textarea'" class="item">
              <h5>{{ content.label }}</h5>
              <textarea ng-model="submits[content.index]" type="text" rows="5" class="form-control"></textarea>
            </label>

            <!-- CHECKBOXES -->
            <div ng-if="content.category == 'checkbox'" class="list">
              <h5>{{ content.label }}</h5>
              <label ng-repeat="option in content.options">
                <input type="checkbox" checklist-model="option.name" checklist-value="option.name"> {{option.name}} 
              </label>
            </div>

            <!-- RADIO -->
            <div ng-if="content.category == 'radio'" class="list">
              <h5>{{ content.label }}</h5>
              <label ng-repeat="option in content.options">
                <input type="radio" name="option.name" value="option.name" class=""> {{option.name}} 
              </label>
            </div>

            <!-- DESCRIPTION -->
            <div ng-if="content.category == 'description'">
              <h5>{{ content.label }}</h5>
              <p ng-repeat="option in content.options">
              {{ option.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="exit()">Exit</button>
</div>



