<navbar></navbar>
<div class="wrap-dashboard" id="editForm">
  <div class="container-fluid wrap">
    
    <div class="dash-message text-center" id="formTitle">
        <h3>{{ name }}</h3><a href=""><i class="fa fa-pencil" ng-click="open()"></i></a>
        <p>Updated on: {{ updated | date:"dd/MM/yyyy 'at' h:mma" }}</p>
        <a href="" ng-click="openPreview()" class="btn btn-primary">Preview</a>
    </div>

    <div class="row">
      <div class="list-forms">
        <div class="col-xs-3" id="sidebar">
          <h5>Field types</h5>
          <ul id="selections">
            <li ng-repeat="category in categories" ng-click="add(category)" class="btn">{{ category }}<i class="addContent fa fa-plus-square"></i></li>
          </ul>
        </div>

        <div class="col-xs-6" id="listOfContents">
          <h5>Form fields</h5>
          <ul class="contentField" dragula='"bag-one"' dragula-model="fields">
            <li ng-repeat="field in fields | orderFieldBy:'index'" ng-mouseover="showButtons = true" ng-mouseleave="showButtons = false" class="btn btn-field" ng-click="setClickedRow($index); displayEditPanel(field)" ng-class="{selected : $index == selectedRow}">
              {{ field.label }}
              <p>({{ field.category }})</p>
              <i ng-click="delete(field)" class="fa fa-times deleteButton" ng-show="!editPanelVisible && showButtons"></i>
            </li>
          </ul>
        </div>

        <div class="col-xs-3" ng-show="editPanelVisible" id="editPanel">
          <h5>Properties</h5>
          <div class="panel-categories">

            <div ng-if="field.category === 'textarea' ||  field.category === 'text' ">
              <h5>Label:</h5>
              <form ng-submit="hideAndSaveEditPanel(field,input.labelInput)">
                <input placeholder="label for {{field.category}}" autocomplete ng-model="input.labelInput" class="form-control flat">
                <button type="submit" class="btn btn-inverse btn-properties">Save</button>
                <button ng-click="quitEditPanel()" class="btn btn-inverse btn-properties">Cancel</button>
              </form>
            </div>

            <div ng-if="field.category === 'dropdown' || field.category === 'checkbox' || field.category === 'radio'" class="multiChoice">
              <h5>Label:</h5>
              <input placeholder="label for {{field.category}}" autocomplete ng-model="input.labelInput" class="form-control flat">
              <h5>Options:</h5>
              <div class="input-group">
                <input ng-model="newOptionEntry" class="form-control flat" placeholder="new option" />
                <span ng-click="addOptions(newOptionEntry)" class="btn input-group-addon">+</span>
              </div>
              <li ng-repeat="option in options track by $index" class="field-option">
                {{ option }}
                <span ng-click="deleteOption(option)" class="btn field-option-delete">x</span>
              </li>
              <button ng-click="hideAndSaveEditPanel(field,input.labelInput)" class="btn btn-inverse btn-properties">Save</button>
              <button ng-click="quitEditPanel()" class="btn btn-inverse btn-properties">Cancel</button>
            </div>

            <div ng-if="field.category === 'description'">
              <form ng-submit="hideAndSaveEditPanel(field,input.labelInput)">
                <h5>Label:</h5>
                <input placeholder="label for {{field.category}}" autocomplete ng-model="input.labelInput" class="form-control flat">
                <h5>Text:</h5>
                <input placeholder="your text here" autocomplete ng-model="input.textInput" class="form-control flat">
                <button type="submit" ng-click="addDescription(input.textInput)" class="btn btn-inverse btn-properties">Save</button>
                <button ng-click="quitEditPanel()" class="btn btn-inverse btn-properties">Cancel</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>