<navbar></navbar>
<div class="wrap-dashboard">
  <div class="container-fluid wrap">
    <div class="row">
      <div class="list-forms text-center">
        <div class="col-xs-4">
          <h4>Selections</h4>
          <h6><a href="" ng-click="add('text')">Text</a></h6>
          <h6><a href="" ng-click="add('textarea')">Large Text</a></h6>
          <h6><a href="" ng-click="add('check')">Checkboxes</a></h6>
          <h6><a href="" ng-click="add('radio')">Radioboxes</a></h6>
          <h6><a href="" ng-click="add('dropdown')">Dropdown</a></h6>
          <h6><a href="" ng-click="add('description')">Description</a></h6>
        </div>
        <div class="col-xs-4">
          <h4>{{ name }}</h4>
          <ul>
            <li ng-repeat="field in fields">
              <button ng-click="delete(field)">X</button>
              <a href="">
                {{ field.category }}
              </a>
              <button ng-click="displayEditPanel(field)" ng-show="!editPanelVisible">Edit</button>  
            </li>
          </ul>
        </div>
        <div class="col-xs-4" ng-show="editPanelVisible">
          <h4>Edit</h4>
          
          <!--  A FAIRE: Refactor later -->
          <div ng-if="field.category === 'text'">
            <h6>options for {{ field.category }}</h6>
            <form ng-submit="hideAndSaveEditPanel(field,labelInput)">
              <input placeholder="label for {{field.category}}" ng-model="labelInput">
              <button type="submit">Save</button>
            </form>
          </div>
          <div ng-if="field.category === 'textarea'">
            <h6>options for {{ field.category }}</h6>
            <form ng-submit="hideAndSaveEditPanel(field,labelInput)">
              <input placeholder="label for {{field.category}}" ng-model="labelInput">
              <button type="submit">Save</button>
            </form>
          </div>
          <div ng-if="field.category === 'dropdown'">
            <h6>options for {{ field.category }}</h6>
            <input placeholder="label for {{field.category}}" ng-model="labelInput">
            <input placeholder="new option" ng-model="newOptionEntry">
            <button ng-click="addOptions(newOptionEntry)">Add</button>
            <button ng-click="hideAndSaveEditPanel(field,labelInput)">Save</button>
            <li ng-repeat="option in options track by $index">
              {{ option }}
              <button ng-click="deleteOption(option)">x</button>
            </li>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>  