<navbar></navbar>
<div class="wrap-dashboard">
  <div class="container-fluid wrap submissionWrapper">
    <div class="dash-message text-center">
      <h3>{{ form.name }}</h3>
      <p>{{ submissions.length }} submissions</p>
    </div>
    <div class="row" id="table-row">
      <table class="table table-bordered" id="submission-table">
        <tr>
          <th>Date</th>
          <th>Signed</th>
          <th ng-repeat="content in contents" ng-if="content.category != 'description'">{{ content.label }}</th>
        </tr>
        <tr ng-show="noSubmissions">
          <td>No Submissions</td>
          <td>No Submissions</td>
          <td ng-repeat="content in contents" ng-if="content.category != 'description'">No Submissions</td>
        </tr>
        <tr ng-repeat="submission in submissions">
          <td>{{ submission.created_at | date: 'fullDate' }}</td>
          <td ng-if="submission.signature != null"><a href="{{ submission.signature }}">Yes</a></td>
          <td ng-if="submission.signature == null">No</td>
          <td ng-repeat="answer in values[submission.id] track by $index">{{ answer }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<footer></footer>