<nav class="navbar navbar-dash navbar-lg" role="navigation">
  <div class="container-fluid wrap">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/#/{{ home }}"></a>
    </div>
    <h4 id="nav-title">{{ title }}</h4>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="showDesign">
          <a href="/#/dashboard" class="btn btn-primary btn-navbar">
            Save
          </a>
        </li>
        <li ng-show="showSubmissions">
          <a href="" ng-csv="exportation" filename="{{ form.name }}.csv" csv-header="headers" class="btn btn-primary btn-navbar">
            Export (CSV)
          </a>
        </li>
        <li ng-hide="loggedIn">
          <a href="/#/login">
            Log In
          </a>
        </li>
        <li ng-hide="loggedIn">
          <a href="/#/signup">
            Sign Up
          </a>
        </li>
        <li ng-show="loggedIn">
          <a ng-click="logout()" href=''>
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>