<div class="wrap-home">
  <navbarhome></navbarhome>
  <div class="container-fluid">
    <div class="row">
      <div class="home-title">
        <div class="col-xs-6">
          <img src="http://i62.tinypic.com/2enxh6b.png" class="img-responsive">
        </div>
        <div class="col-xs-6">
          <h2>Get rid of your paper forms today.</h2>
          <h3>Half the hassle, double the result!</h3>
          <a class="btn btn-primary btn-hg btn-embossed" href="/#/signup">
            SIGN UP
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>