<navbar></navbar>
<div class="wrap-home">
  <div class="container-fluid">
    <div class="row">
      <div class="home-title text-center">
        <h2>Get rid of your paper forms today.</h2>
        <a class="btn btn-hg btn-primary" href="/#/dashboard">
          GO
        </a>
      </div>
    </div>
  </div>
   <div class="row">
    <a href="/#/signup" class="btn btn-info">Sign up</a>
    <a href="/#/login" class="btn btn-info">login</a>
    <button ng-click="logout()" class="btn btn-danger">Logout</button>  
  </div>
</div>