html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #33485F;
}

.navbar-brand {
  font-size: 30px;
}

.navbar {
  margin-bottom: 0;
}

#nav-title {
  color: white;
  font-style: italic;
  font-size: 23px;
  position: absolute;
  top: 14px;
  right: 47vw;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.home-title {
  color: white;
  margin-top: 80px;
}

.wrap-home {
  background-color: #33485F;
  width: 100%;
  min-height: 600px;
}
.wrap-dashboard {
  background-color: white;
  padding-top: 60px; 
  height: 100%; 
}

.authPage {
  color: white;
}

.form-link {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  height: 200px;
  width: 180px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.form-link > .delete {
  position: absolute;
  top: 5px;
  right: 10px;
}

.form-link > .submissions {
  position: absolute;
  top: 5px;
  right: 80px;
}

.form-link > span {
  position: relative;
  top: 20px;
}

.form-link > .btn-primary {
  position: absolute;
  top: 74%;
  right: 10%;
  width: 80%;
}


#selections{
  padding: 0px;
}

#selections i{
  float: right;
} 

#editForm .contentField{
  position: relative;
}

#editForm li{
  list-style-type: none;
  width: 100%;
}
.field > a{
  color: white;
  font-size: 20px;
}

#editForm ul{
  text-align: center;
}

#editForm .deleteButton{
  float: left;
}

#editForm .deleteButton:hover{
  color: #33485F;
}

#editForm .editButton{
  float: right;
  padding: 0;
}

#editForm .editButton:hover{
  color: #33485F;
}

#dropdown li{
  color: #33485F;
}

.multiChoice li{
  color: black;
}

#table-row {
  overflow: scroll;
}

#submission-table tr:first-child {
  font-style: oblique;
}

#submission-table tr {
  text-align: center;
}

