body {
  background-color: #33485F;
}

.navbar-brand {
  font-size: 30px;
}

.navbar {
  margin-bottom: 0;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.home-title {
  color: white;
  margin-top: 80px;
}

.wrap-dashboard {
  background-color: white;
  width: 100%;
  min-height: 600px;
  padding-top: 60px;
}

.wrap-home {
  background-color: #33485F;
  width: 100%;
  min-height: 600px;
}

.authPage {
  color: white;
}