
body {
  background-color: white;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
  color: white;
  font-size: 18px;
}

.container.authPage {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #34495e;
  color: white;
  font-size: 18px;
  padding: 20px;
}

.container.authPage label{
  font-size: 18px;
}

.container.authPage i {
  position: absolute;
  right: 5%;
}

.container.authPage a {
  color: white;
}

.container.authPage button {
  width: 100%;
  margin-top: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar {
  margin-bottom: 0;
  color: white;
}

.navbar-inverse .navbar-brand {
  width: 210px;
  background-image: url("http://i59.tinypic.com/nvqhk2.png");
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.navbar-dash .navbar-brand {
  width: 210px;
  background-image: url("http://i60.tinypic.com/2gxiddx.png");
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.navbar-dash {
  background-color: white;
  border-bottom: 1px solid #E2E2E2;
  color: #34495e;
}

.navbar-dash a {
  color: #34495e;
}

.navbar-dash a:hover {
  color: #16a085;
}

.navbar-lg .navbar-nav > li > a {
  font-size: 18px;
}

.navbar-inverse {
  background-color: rgba(50,68,87,0.5);
}

#navbar-collapse-01 .btn-primary {
  color: white;
  padding: 10px 15px;
  margin-right: 15px;
  margin-top: 15px;
}

#navbar-collapse-01 .btn-primary:hover {
  background-color: #16a085;
  color: white;
}

#nav-title {
  font-style: italic;
  font-size: 23px;
  position: absolute;
  top: 14px;
  right: 47vw;
  font-weight: 300;
}

footer {
  margin-top: 0px;
  width: 100%;
  background-color: #33485F;
  background-position: 0% 50%;
  height: 200px;
}

.logo-footer{
  width: 15%;
  padding-top: 40px;
}
.text-footer{
  padding-top: 20px;
  margin: 0px auto;
  color: white;
  width: 400px;
  font-size: 15px;
}
.name {
  border-bottom: 1px white dotted;
  color: white;
}
.name:hover {
  border-bottom: none;
  text-decoration: underline;
  color: #19BC9C;
}
.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

#dashboard-wrapper{
  margin-bottom: 200px;
}
.home-title {
  color: white;
  margin-top: 80px;
}

.home-title h3 {
  font-weight: 300;
}

.home-title a {
  margin-top: 20px;
}

.wrap-home {
  background-color: #33485F;
  background-image: url("http://i61.tinypic.com/106k9yv.jpg");
  width: 100%;
  min-height: 800px;
}

.wrap-dashboard {
  background-color: #F5F5F5;
  height: 100%; 
}

.list-forms {
  margin-bottom: 20px;
}

.list-forms h5 {
  font-size: 18px;
}

.form-link {
  position: relative;
  background-color: white;
  display: inline-block;
  border: 1px solid #E2E2E2;
  height: 200px;
  width: 180px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  box-shadow: 0px 1px 3px #D3D3D3;
}

.form-link > .delete {
  position: absolute;
  top: 5px;
  right: 10px;
}

.form-link > .submissions {
  position: absolute;
  top: 5px;
  right: 80px;
}

.form-link > span {
  position: relative;
  top: 20px;
}

.form-link > .btn-primary {
  position: absolute;
  top: 74%;
  right: 10%;
  width: 80%;
}

.form-title-box {
  padding: 10%;
  height: 80%;
  vertical-align: middle;
}

.form-title-box h4 {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  color: #324457;
}

.form-title-box h4:hover {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  color: #1abc9c;
}

.form-options {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 20%;
  background-color: #E9EEF1;
  padding: 5px 0px;
}

.form-options .view-submissions {
  padding-right: 10%;
  padding-left: 10%;
  color: #324457;
}

.form-options .edit-form {
  padding-right: 10%;
  padding-left: 10%;
  color: #324457;
}

.form-options .delete-form {
  padding-right: 10%;
  padding-left: 10%;
  color: #324457;
}

.form-options a:hover {
  color: #1abc9c;
}

#sidebar{
  position: fixed;
}


#submission-sidebar {
  padding: 0px;
  height: 100vh;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
}

#submission-sidebar .item {
  width: 100%;
  padding: 10px 20px;
  padding-left: 30px;
  border-bottom: 1px solid black;
  color: rgb(52, 73, 94);
}

#submission-sidebar .item > h6{
  margin-bottom: 0px;
  font-size: 20px;
}

#submission-sidebar .item > p{
  font-size: 15px;
  opacity: 0.7;
}

#formTitle a i {
  position: relative;
  top: -20px;
  right: -20px;
}

#formTitle h3 {
  display: inline-block;
}

#formTitle h5 {
  font-size: 18px;
}

#selections {
  padding: 10px;
  background-color: #324457;
  border-radius: 4px;
}

#selections li {
  color: white;
  font-size: 18px;
}

#selections li:hover {
  background-color: #1abc9c;
}

#selections i {
  float: right;
  margin-top: 5px;
} 

#pencil{
  font-size: 20px;
  margin-left: 20px;
}

#editForm .contentField{
  position: relative;
}

#editForm li{
  list-style-type: none;
  width: 100%;
}

#listOfContents h4 {
  text-align: center;
  color: #E7E6E4;
}

#listOfContents{
  margin-bottom: 100px;
}

#listOfContents ul{
  border: 1px solid #E2E2E2;
  padding: 20px;
  border-radius: 4px;
}

#listOfContents .btn-field {
  position: relative;
  background-color: white;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 1px 3px #D3D3D3;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #33485F;
  font-size: 18px;
}

#listOfContents .btn-field.selected {
  background-color: #1abc9c;
  color: white;
}


#listOfContents li:hover {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}

#listOfContents .btn-field p {
  color: #E9EEF1;
  margin-bottom: 0;
}

#listOfContents .contentField i {
  position: absolute;
  top: 10%;
  right: 2%;
}

#listOfContents .contentField a {
  position: absolute;
  top: 10%;
  right: 2%;
  padding: 15px;
}

#listOfContents .contentField a:hover {
  position: absolute;
  top: 10%;
  right: 2%;
  padding: 15px;
}

#editPanel{
  margin-bottom: 40px;
  position: fixed;
}

#editPanel .panel-categories {
  padding: 10px;
  background-color: #1abc9c;
  border-radius: 4px;
}

#editPanel .panel-categories h5 {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

#editPanel .btn-properties {
  margin-top: 15px;
}

#editPanel .field-option {
  color: white;
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
  padding-left: 10px;
}

#editPanel .btn.input-group-addon {
  background-color: #324457;
  border: none;
}

#editPanel .field-option-delete {
  float: right;
  padding-top: 5px;
}

#editForm .deleteButton{
  float: left;
}

#editForm .deleteButton:hover{
  color: #33485F;
}

#editForm .editButton{
  float: right;
  padding: 0;
}

#editForm .editButton:hover{
  color: #33485F;
}

.wrap-preview h5 {
  font-size: 18px;
}

#dropdown li{
  color: #33485F;
}

.multiChoice li{
  color: black;
}

#table-row {
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
}

#table-row table {
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: white;
}

#table-row h4 {
  text-align: center;
  color: #E7E6E4;
}

#submission-table th {
  text-align: center;
  padding: 5px;
  vertical-align: middle;
  background-color: #E9EEF1;
}

#submission-table tr {
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}

